.popup-header.popup-header-0(data-show="0")
  .main-grid
    .line
    nav.nav-1
      h2
        a(href="#") Брендинг
      ul
        each val in ["Маркетинговое исследование","Нейминг","Слоган / легенда","Логотип / товарный знак","Персонаж","Регистрация","Brand Book","Креатив"]
          li
            a(href="#")
              = val
    nav.nav-2
      h2 
        a(href="#") Упаковка
      ul
        each val in ["Разработка концепции","Проектирование","Дизайн","Верстка / pre-press"]
          li
            a(href="#")
              = val
    nav.nav-3
      h2 
        a(href="#") Визуальные коммуникации
      ul
        each val in ["Наружная реклама","Полиграфия","Видео","Производство"]
          li
            a(href="#")
              = val
    nav.nav-4
      h2 
        a(href="#") WEB
      ul
        each val in ["Дизайн","Нейминг","Програмирование","Поддержка","Продвижение"]
          li
            a(href="#")
              = val