.popup-header.popup-header-2(data-show="2")
  .main-grid
    .line
    nav.nav-1
      h2
        a(href="#") Брендинг
    nav.nav-2
      h2 
        a(href="#") Упаковка
    nav.nav-3
      h2 
        a(href="#") Визуальные коммуникации
    nav.nav-4
      h2 
        a(href="#") WEB