.slider-section {

  h2 {
    margin-top: 180px;
  }
}

.slider-section h2,
.slider-section .links-wrap,
.slider-section .slider-info {
  margin-bottom: 40px;
}

/*blog*/
.blog-about .btn img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.blog-about .about-rating i {
  width: 15px;
  height: 15px;
}

/*blog*/