$blackColor: #333333;

$grayColor: #A5A5A5;

$whiteColor: #ffffff;

$yellowColor: #D4AF93;

$orangeColor: #F47721;

$grayColorLite: #EFEFEF;



$standartSize: 16px;

$middleSize: 25px;

$largeSize: 68px;

$largeSize2: 56px;