.portfolio-section
  .main-grid
    .section-head
      h2.global Брендинговое агенство Style You
      a(href="#").link Все работы агенства
  .main-grid
    +ps-item("../images/p1.jpg","Cream Art /","Разработка нового бренда; дизайн упаковки для сливок")  
    +ps-item("../images/p2.jpg","Bonnita /","Создание интернет - каталога для производителя меховых изделий из норки и мутона","large")  
    +ps-extra("../images/video-1.mp4")
    +ps-item("../images/p3.jpg","Посуда Guffman /","Дизайн упаковки коллекции посуды и кухонных  аксессуаров")  
    +ps-item("../images/p4.jpg","Услада /","Дизайн упаковки конфет и вафель")  
    +ps-item("../images/p5.jpg","Союзснаб /","Рестайлинг логотипа группы компаний в пишевой отрасли")  
    +ps-item("../images/p6.jpg","Продюсерский центр Леонида Агутина /","Разработка сайта для продюсерского центра Леонида Агутина")  
    +ps-extra("../images/video-2.mp4")
    +ps-video("../images/video-0.mp4","Как мы это делаем - 2:30 /","Дизайн упаковки /")
    +ps-item("../images/p8.jpg","Фермерский Клуб Истра /","Дизайн серийной этикетки для мясной продукции из телятины")  
  .main-grid.partfolio-slide
    .data 11.05.2019
    .slide-topic
      h2.global Сайт рюмочной Григория Лепса получил награду Wadline Award
    +ps-item("../images/p9.jpg","Рюмка Водки /","Создание сайта рюмочной Г. Лепса")  
  .main-grid
    +ps-item("../images/p10.jpg","Scorpion’s Blade /","Создание сайта для компании по обучению телохранителей")  
    +ps-item("../images/p11.jpg","Comet /","Дизайн упаковки для бытовой хими")  
    +ps-item("../images/p12.jpg","Счастсливкино /","Дизайн упаковки и товарного знака вафель")  
    +ps-extra("../images/video-3.mp4")
    +ps-item("../images/p15.jpg","Habar /","Дизайн упаковки для чайной продукции","large")
    +ps-extra("../images/video-4.mp4")
    +ps-item("../images/p14.jpg","Wafer Sandwich /","Разработка и дизайн упаковки для вафельных сэндвичей")
    +ps-extra("../images/video-1.mp4")
    +ps-item("../images/p16.jpg","Ферм Клуб /","Создание упаковки для мясных изделий")
    +ps-item("../images/p17.jpg","Lazzaro /","Создание упаковки для кормов")
    +ps-item("../images/p18.jpg","Чудское Озера /","Разработка упаковки молочной продукции")
  .main-grid.partfolio-slide
    .data 11.05.2019
    .slide-topic
      h2.global Тенденции развития визуального стиля в вебе 2019 года
    +ps-item("../images/p13.jpg","Марина Дорошенко /","специалист отдела маркетинга")