doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		- var classHeader = "black"
		include default/header.pug
		// header

		+head-second("Элементы идеальной карточки товара")
		.main-grid
			h1.topic-center Элементы идеальной карточки товара
		.blog-detail
			.main-grid
				.info-container
					.view-box
						img.ico(src="../images/ico-view.png")
						span 178
					.rew-box
						img.ico(src="../images/ico-rew.png")
						span 3
					br.mobile-br
					a.link(href="#") Поделиться
					a.link(href="#") Оставить отзыв
				.blog-about
					h3 Подпишитесь на новые публикации нашего блога
					.btn-wc
						a.btn.vk(href="#")
							img(src="../images/social/v-w-2.svg")
							span Вконтакте
						a.btn.fc(href="#")
							img(src="../images/social/f-w.svg")
							span Facebook
						a.btn.inst(href="#")
							img(src="../images/social/i-w-2.svg")
							span Instagram
					.description При переходе по одной из указанных ссылок, вы автоматически даете свое согласие на получение новостных рассылок
					.about-rating
						h3 Оцените статью
						.rating-container
							i.active
							i.active
							i.active
							i.active
							i
							span 4.8
			.main-grid
				.blog-content
					.text-part-right  
						p При составлении карточки товара для интернет-магазина важно руководствоваться опытом крупных конкурентов, а также потребностями вашего покупателя. Грамотно составленная карточка товара обеспечит положительный UX (пользовательский опыт или user experience), а значит положительно повлияет на мнение потребителя о вашем бренде или компании.
							| Есть определенный набор элементов, наличие которых на странице карточки товара, обеспечивает привычный UI (пользовательский интерфейс или user interface) покупателю. При составлении карточки товара важно добиться приятного UI, для этого нужно наличие многих из перечисленных ниже элементов.
							.border-angle
					.text-part-left 
						h2 Анализ потребителя и составление паттернов покупки
					.text-part-right
						p Название товаров должно быть стандартизировано по заранее согласованной схеме. И контент-менеджер сайта должен внимательно вводить названия по определенной схеме, запрашивая у Заказчика необходимую информацию.
					.text-part-half
						p При составлении карточки товара для интернет-магазина важно руководствоваться опытом крупных конкурентов, а также потребностями вашего покупателя. Грамотно составленная карточка товара обеспечит положительный UX (пользовательский опыт или user experience), а значит положительно повлияет на мнение потребителя о вашем бренде или компании. Есть определенный набор элементов, наличие которых на странице карточки товара, обеспечивает привычный UI (пользовательский интерфейс или user interface) покупателю. При составлении карточки товара важно добиться приятного UI, для этого нужно наличие многих из перечисленных ниже элементов.
					.text-part-half
						p При составлении карточки товара для интернет-магазина важно руководствоваться опытом крупных конкурентов, а также потребностями вашего покупателя. Грамотно составленная карточка товара обеспечит положительный UX (пользовательский опыт или user experience), а значит положительно повлияет на мнение потребителя о вашем бренде или компании. Есть определенный набор элементов, наличие которых на странице карточки товара, обеспечивает привычный UI (пользовательский интерфейс или user interface) покупателю. При составлении карточки товара важно добиться приятного UI, для этого нужно наличие многих из перечисленных ниже элементов.
					.text-part-full
							.border-angle
					.text-part-third
						p При составлении карточки товара для интернет-магазина важно руководствоваться опытом крупных конкурентов, а также потребностями вашего покупателя. Грамотно составленная карточка товара обеспечит положительный UX (пользовательский опыт или user experience), а значит положительно повлияет на мнение потребителя о вашем бренде или компании. Есть определенный набор элементов, наличие которых на странице карточки товара, обеспечивает привычный UI (пользовательский интерфейс или user interface) покупателю. При составлении карточки товара важно добиться приятного UI, для этого нужно наличие многих из перечисленных ниже элементов.
					.text-part-third
						p При составлении карточки товара для интернет-магазина важно руководствоваться опытом крупных конкурентов, а также потребностями вашего покупателя. Грамотно составленная карточка товара обеспечит положительный UX (пользовательский опыт или user experience), а значит положительно повлияет на мнение потребителя о вашем бренде или компании. Есть определенный набор элементов, наличие которых на странице карточки товара, обеспечивает привычный UI (пользовательский интерфейс или user interface) покупателю. При составлении карточки товара важно добиться приятного UI, для этого нужно наличие многих из перечисленных ниже элементов.
					.text-part-third
						p При составлении карточки товара для интернет-магазина важно руководствоваться опытом крупных конкурентов, а также потребностями вашего покупателя. Грамотно составленная карточка товара обеспечит положительный UX (пользовательский опыт или user experience), а значит положительно повлияет на мнение потребителя о вашем бренде или компании. Есть определенный набор элементов, наличие которых на странице карточки товара, обеспечивает привычный UI (пользовательский интерфейс или user interface) покупателю. При составлении карточки товара важно добиться приятного UI, для этого нужно наличие многих из перечисленных ниже элементов.
					.text-part-third.center
						p При составлении карточки товара для интернет-магазина важно руководствоваться опытом крупных конкурентов, а также потребностями вашего покупателя. Грамотно составленная карточка товара обеспечит положительный UX (пользовательский опыт или user experience), а значит положительно повлияет на мнение потребителя о вашем бренде или компании. Есть определенный набор элементов, наличие которых на странице карточки товара, обеспечивает привычный UI (пользовательский интерфейс или user interface) покупателю. При составлении карточки товара важно добиться приятного UI, для этого нужно наличие многих из перечисленных ниже элементов.
					.text-part-left-middle
						img(src="../images/content/img-1.jpg")
					.text-part-right-middle
						img(src="../images/content/img-2.jpg")
					.text-part-center-middle
						img(src="../images/content/img-3.jpg")
					.text-part-left-large
						img(src="../images/content/img-4.jpg")
					.text-part-right-large
						img(src="../images/content/img-5.jpg")
					.text-part-center-large
						img(src="../images/content/img-6.jpg")
					.text-part-full
						img(src="../images/content/img-2.jpg")
			.main-grid
			
			.blog-banner
				h2 Эта статья понравилась вам и оказалась полезной ?
				h3 Поделитесь этой информацией - возможно она пригодится вашим друзьям
				.social
					a(href="#")
						img(src="../images/social/vk-orange.png")
					a(href="#")
						img(src="../images/social/inst-orange.png")
					a(href="#")
						img(src="../images/social/fc-orange.png")

		.comments-section
			.main-grid
				.additional-head
					h2.global Комментарии
			+comments-item("Евгений Зитович","../images/face-1.jpg","10.05.2020")
			+comments-item("Евгений Зитович","../images/face-2.jpg","10.05.2020","answer")
			+comments-item("Шон Маич","../images/face-3.jpg","21.06.2020","answer last")
			+comments-item("Евгений Зитович","../images/face-1.jpg","10.05.2020","last")
			.main-grid
				.btn-wc
					a(href="#").btn-upload Показать еще

		include default/form/blog-form.pug

		// footer
		include default/footer.pug
		// footer
