doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		- var classHeader = "black"
		include default/header.pug
		// header

		+head-second("Контакты")

		.contacts
			.contacts-head
				.main-grid
					h2 Style You branding agency
					h3 Брендинговое агентство
					.ch-item.first
						| м. Кутузовская, м. Парк Победы, м. Фили
						| Москва, Кутузовский проспект, 36,
						| стр. 23, офис 112 п/я №9
					.ch-item
						.ch-item-row 
							b Тел.:
							a(href="#") +7 495 722 40 44
							b
							a(href="#") +7 495 799 40 44
						.ch-item-row
							b E-mail:
							a(href="#") zakaz@style-you.ru
						.ch-item-row
							b Skype
							a(href="#") style-you.ru
					.ch-item
						| Общество с ограниченной ответственностью "Стайл-Ю"
						br
						| ИНН 7715899685 ОГРН 1127746020566
					.ch-item
						a.link-form(href="#") Задать вопрос специалистам
			.contacts-address-line#address-0(data-coord-x="55.75" data-coord-y="37.62" )
				.address dsf sdfdsfds sf a
				.phone-feedback 7715899685
			.map-box
				script(src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=fced5e55-2779-4df7-8baf-39cc561448b5")
				script(src="../js/ya-map.js")
				#map
			.map-description
				.main-grid 
					h2.global Как до нас добраться
					.md-item.first
						h3 Пешком от станции метро Фили
						div Последний вагон из центра. Выйдя из метро, пройдите прямо в подземный переход. Идите прямо по улице 1812 года до поворота налево на улицу Кульнева. Проследуйте вдоль улицы Кульнева до длинного здания у набережной реки. Первый вход в здание напротив шлагбаума платной парковки. Первый этаж, офис 112 п/я №9.
					.md-item
						h3 Пешком от станции метро Кутузовская
						div 
							p Первый вагон из центра. Идите вдоль Кутузовского проспекта в сторону области, пересеките мост, проспект будет слева от Вас. Идите прямо до перехода, выйдя из перехода, продолжайте движение в направлении области, дойдите до памятника Гризодубовой. Пройдите мимо памятника. Справа от Вас находится КПП на территорию завода. Пройдя его, идите прямо. Обогнув ночной клуб SPACE, увидите автомойку. Проходите мимо до выхода с территории через шлагбаум. После него поверните направо и войдите в ближайший подъезд. Мы находимся на первом этаже в офисе 112 п/я №9.
							p Альтернативный маршрут: выйдя из перехода, пройдите немного в сторону области до улицы Кульнева, расположенной перпендикулярно к Кутузовскому проспекту. Идите 300 м прямо по улице, после поворота налево пройдите еще 100 м вдоль длинного здания, расположенного по левую руку. Искомый Вами вход в здание расположен в дальнем его конце напротив шлагбаума платной парковки. Первый этаж, офис 112 п/я №9.
					.md-item
						h3 Пешком от станции метро Фили
						div 
							p Прямо на съезде с ТТК на Кутузовский проспект поверните на улицу Кульнева. Проезжаете 600 метров. Вход в длинное здание расположен напротив шлагбаума платной парковки. Первый этаж, офис 112 п/я №9.
							p С Кутузовского проспекта (направление в область) поверните направо на улицу 1812 года. Проехав 500 м, вновь поверните направо на улицу Кульнева. Едете прямо 450 метров до длинного здания возле набережной. Вход в здание расположен напротив шлагбаума платной парковки. Первый этаж, офис 112 п/я №9.
			include default/form/send-request.pug

		// footer
		include default/footer.pug
		// footer