doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		include default/header.pug
		// header
		
		// main-section

		include main-page/slider-section.pug

		// main-section

		include main-page/portfolio-section.pug

		// main-section

		// footer
		include default/footer.pug
		// footer

