doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		- var classHeader = "black"
		include default/header.pug
		// header

		+head-second("Цены")


		// services

		.main-grid.filter-sort
			.filter-head
				span Фильтры
				.ico-next.black
			.filter-body
				a.active(href="#") Брендинг
				a(href="#") Дизайн упаковки
				a(href="#") Создание сайтов
				a(href="#") Визуальные коммуникации
		// portfolio-filter-mobile
		.portfolio-filter-mobile.js-sticky-mobile
			.line
			.portfolio-open.element-btn(data-showEl="99")
				|Фильтры
			.portfolio-popup.element-show(data-showEl="99")
				.close
				a.active(href="#") Брендинг
				a(href="#") Дизайн упаковки
				a(href="#") Создание сайтов
				a(href="#") Визуальные коммуникации
		// prices-section
		.prices-section
			.main-grid
				.additional-head
					h2.global Брендинг
			+price-item("Нейминг","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","110 т р")
			+price-item("Слоган / легенда","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от25 т р / мес.")
			+price-item("Логотип / товарный знак","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")
			+price-item("Персонаж / pre-press","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")
			+price-item("Регистрация логотипа / товарного знака / pre-press","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")
			+price-item("Brand Book","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")

		// prices-section
		
		+example-work("Процесс разработки (примеры):","","mini")

		// prices-section
		.prices-section
			.main-grid
				.additional-head
					h2.global Дизайн упаковки
			+price-item("Разработка концепции упаковки","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","110 т р")
			+price-item("Разработка товарного знака","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от25 т р / мес.")
			+price-item("Проектирование упаковки","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")
			+price-item("Дизайн упаковки 1 SKU","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")
			+price-item("Вёрстка / pre-press","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")

		// prices-section

		+example-work("Процесс разработки (примеры):","","mini")

		// prices-section
		.prices-section
			.main-grid
				.additional-head
					h2.global Создание сайтов
			+price-item("Дизайн сайта","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","110 т р")
			+price-item("Программирование сайта","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от25 т р / мес.")
			+price-item("Поддержка сайта","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")
			+price-item("SEO продвижение сайта","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")

		// prices-section

		+example-work("Процесс разработки (примеры):","","mini")

		// prices-section
		.prices-section
			.main-grid
				.additional-head
					h2.global Визуальные коммуникации
			+price-item("Дизайн наружной рекламы ","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","110 т р")
			+price-item("Дизайн полиграфии","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от25 т р / мес.")
			+price-item("Рекламные ролики","Разработка и проверка по базам ФИПС вариантов наименований, свободных на охраноспособность. Предоставление на согласование 3-5 вариантов.","от 35 т р / мес.")

		// prices-section

		+example-work("Процесс разработки (примеры):","","mini")

		include default/form/pack-form.pug

		+example-work("Последние работы","","")

		// footer
		include default/footer.pug
		// footer

