doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		- var classHeader = "black"
		include default/header.pug
		// header

		+head-second("Схема работы над дизайном упаковки или этикетки")

		// stages-detail
		.main-grid
			.stages-hint Если вас интересует, что именно происходит на этапах разработки дизайна упаковки или этикетки, то предлагаем вам ознакомиться подробнее с описаниями этапов.
		.main-grid.stages-tabs
			.stages-head
				span Этапы
				.ico-next.black
			.stages-body
				each val in ["Брифинг синхронизация","Концепции дизайна","Финализация дизайна ","Ассортиментная линейка","Верстка","Предпечатная подготовка"]
					a(href="#")
						= val
		// portfolio-filter-mobile
		.portfolio-filter-mobile.js-sticky-mobile
			.line
			.portfolio-open.element-btn(data-showEl="99")
				|Фильтры
			.portfolio-popup.element-show(data-showEl="99")
				.close
				a.active(href="#") Брифинг синхронизация
				a(href="#") Концепции дизайна
				a(href="#") Финализация дизайна
				a(href="#") Ассортиментная линейка
				a(href="#") Верстка
				a(href="#") Предпечатная подготовка
		// portfolio-filter-mobile		
		.stages-wrap
			.stages-item.first
				.main-grid
					.border
					.st-img
						img(src="../images/dev-stage-1.png")
					.st-topic
						h2 Этап 1 – брифинг синхронизация
					.st-description
						p 
							b На этом этапе 
							| сотрудники Брендингового агентства Style You обсуждают с Заказчиком образ конечного результата проекта. Брифинг происходит в удобной для Заказчика форме: в форме заочного заполнения текстового документа-опросника (брифа); в форме Skype-call с параллельным заполнением менеджером проекта со стороны Агентства полей брифа; в форме очной встречи на переговорах.
						p
							b Польза этого этапа
							| состоит в том, чтобы на стадии начала реализации проекта по созданию дизайна упаковки синхронизировать представления о будущем дизайне упаковки между Исполнителем и Заказчиком.
						p 
							b Результатом первого этапа
							| является заполненный бриф в формате *.doc. В нем расписаны задачи создания дизайна упаковки, ассортиментная матрица товаров, предполагаемая география и места продаж, ценовой сегмент продукции, уникальное торговое предложение (УТП) товара, предпочтения по цветовым и шрифтовым решениям и многое другое.
						p 
							b После брифинг синхронизации
							| сотрудники Агентства оценивают сложность реализации задачи и формируют коммерческое предложение, в котором указывают срок и стоимость создания дизайна упаковки. Обговорив условия сотрудничества, стороны заключают договор и подписывают дополнительные соглашения на оказание дизайнерских услуг. После 50% предоплаты (если сторонами не оговорено иное) Агентство приступает ко второму этапу.
			each val,index in ["Этап 2 – концепции дизайна упаковки","Этап 3 – финализация дизайна упаковки","Этап 4 – адаптация на ассортиментную линейку","Этап 5 – верстка технической информации","Этап 6 – предпечатная подготовка"]
				.stages-item
					.main-grid
						.border
						.st-img
							img(src="../images/dev-stage-"+(index+1)+".png")
						.st-topic
							h2 
								= val
						.st-description
							p 
								b На этом этапе
								| сотрудники Брендингового агентства Style You обсуждают с Заказчиком образ конечного результата проекта. Брифинг происходит в удобной для Заказчика форме: в форме заочного заполнения текстового документа-опросника (брифа); в форме Skype-call с параллельным заполнением менеджером проекта со стороны Агентства полей брифа; в форме очной встречи на переговорах.
							p
								b Польза этого этапа
								| состоит в том, чтобы на стадии начала реализации проекта по созданию дизайна упаковки синхронизировать представления о будущем дизайне упаковки между Исполнителем и Заказчиком.
							p 
								b Результатом первого этапа
								| является заполненный бриф в формате *.doc. В нем расписаны задачи создания дизайна упаковки, ассортиментная матрица товаров, предполагаемая география и места продаж, ценовой сегмент продукции, уникальное торговое предложение (УТП) товара, предпочтения по цветовым и шрифтовым решениям и многое другое.
							p 
								b После брифинг синхронизации
								| сотрудники Агентства оценивают сложность реализации задачи и формируют коммерческое предложение, в котором указывают срок и стоимость создания дизайна упаковки. Обговорив условия сотрудничества, стороны заключают договор и подписывают дополнительные соглашения на оказание дизайнерских услуг. После 50% предоплаты (если сторонами не оговорено иное) Агентство приступает ко второму этапу.

						
		// stages-detail

		+example-work("Примеры работ","Все работы по дизайну упаковки")

		include default/form/pack-form.pug

		// footer
		include default/footer.pug
		// footer

