mixin price-item(name,text,price)
  .price-item
    .main-grid
      .price-topic 
        = name
      .price-text
        = text
      .price-cost
        = price
      .btn-wc
        a(href="#") Подробнее
        a(href="#") Заполнить бриф
      .border